## Test 1

## Test 2

### Probleme

#### Bugs

- Anzeige Bug, dass Texturen nicht laden
    - Wände sind nicht mehr Transparent -> Spiel wird dadurch unspielbar
    - kann durch Neuladen behoben werden
- 

#### Performance

- Controller, Paddles und Ball ruckeln leicht
    - teils starkes Ruckeln
    - schlimmer bei schnellen Bewegungen

### Anmerkungen/Ideen

- Musik/Sounds (futuristische Sounds, schnelle (Party-)Musik)
- den Ball anstoßen/Impuls geben
- von VR zu AR
- Paddle zwischen rechtem und linkem Controller aufspannen und Größe anpassen
- Minuspunkte bei Miss als aktueller Score
- nur den rechten Controller nehmen (nur einen)

### Was war gut

- schöne Optik
    - Lichteffekte an den Wänden
    - coole Umgebung
    - Blöcke passen optisch
    - Höhendesign (Startblöcke) funktioniert gut
- Interface
    - cooles Interface
    - gute Menüauswahl
- Gameplay
    - macht Spaß
    - könnten es lange Spielen