html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}

li {
    margin: 5px 0;
}

p {
    margin: 0px 0px 3px 0px;
}

#monitor-header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

#monitor-body-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#clients-wrapper {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #161616;
    color: white;
    border-right: 1px solid #ccc;
    overflow: auto;
}

.client {
    border: solid 1px white;
    margin: 0px 0px 5px 0px;
}

.this-client {
    color: red !important;
    border-color: red !important;
}

.client-infos {
    margin: 5px;
}

#game-monitor-wrapper {
    display: block;
    position: relative;
    width: 80%;
    height: 100%;
}

#game-monitor-interface {
    display: block;
    width: 100%;
    height: 100%;
}

#player-section {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    z-index: 10;
}

.player-div {
    border: solid 1px black;
}

#renderCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: 1;
}

.xr-button-overlay {
    display: none;
}