html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

#monitor-header {
  background-color: #4CAF50;
  color: white;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

#game-monitor-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#game-monitor-interface {
    display: block;
    width: 100%;
    height: 100%;
}

#player-section {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    z-index: 10;
}

#renderCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    z-index: 1;
}

.xr-button-overlay {
    display: none;
}