@font-face {
    font-family: loadedFont;
    src: url(../assets/fonts/Orbitron-VariableFont_wght.ttf);
    /*Copyright 2018 The Orbitron Project Authors (https://github.com/theleagueof/orbitron), with Reserved Font Name: "Orbitron"*/
}

html,
body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: loadedFont;
}

#renderCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

#fps {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    text-align: center;
    font-size: 16px;
    color: white;
    top: 15px;
    right: 10px;
    width: 60px;
    height: 20px;
}

#playerID {
    position: absolute;
    background-color: black;
    border: 2px solid red;
    text-align: center;
    font-size: 16px;
    color: white;
    top: 15px;
    left: 10px;
    width: 60px;
    height: 20px;
}

#loadingScreen {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

#loading-header {
    margin-top: 20px;
    font-size: 24px;
    color: white;
    content: "";
    animation: 2s dotLoading infinite;
}

@keyframes dotLoading {
    0% {
        content: "loading VR-Application";
    }
    25% {
        content: "loading VR-Application.";
    }
    50% {
        content: "loading VR-Application..";
    }
    75% {
        content: "loading VR-Application...";
    }
    100% {
        content: "loading VR-Application";
    }
}

#loader-bubble {
    width: 100px;
    height: 100px;
    background: linear-gradient(165deg,
            rgba(255, 255, 255, 1) 0%,
            rgb(220, 220, 220) 40%,
            rgb(170, 170, 170) 98%,
            rgb(10, 10, 10) 100%);
    border-radius: 50%;
    position: relative;
    animation: 2s colorChangeBg linear infinite;
}

#loader-bubble-blur {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
        0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
        0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
        0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite, 2s colorChangeBlur linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes colorChangeBlur {
    0% {
        background: linear-gradient(165deg,
                rgba(0, 255, 255, 1) 0%,
                rgb(2, 207, 207) 40%,
                rgb(0, 145, 145) 98%,
                rgb(10, 10, 10) 100%);
    }

    25% {
        background: linear-gradient(165deg,
                rgba(255, 0, 255, 1) 0%,
                rgb(204, 0, 204) 40%,
                rgb(145, 0, 145) 98%,
                rgb(10, 10, 10) 100%);
    }

    50% {
        background: linear-gradient(165deg,
                rgba(255, 255, 0, 1) 0%,
                rgb(207, 207, 0) 40%,
                rgb(153, 153, 0) 98%,
                rgb(10, 10, 10) 100%);
    }

    75% {
        background: linear-gradient(165deg,
                rgba(26, 165, 67, 1) 0%,
                rgb(20, 128, 52) 40%,
                rgb(14, 87, 35) 98%,
                rgb(10, 10, 10) 100%);
    }

    100% {
        background: linear-gradient(165deg,
                rgba(0, 255, 255, 1) 0%,
                rgb(2, 207, 207) 40%,
                rgb(0, 145, 145) 98%,
                rgb(10, 10, 10) 100%);
    }
}

@keyframes colorChangeBlur {
    0% {
        box-shadow: 0 -10px 20px 20px #00ffff40 inset,
            0 -5px 15px 10px #00ffff50 inset, 0 -2px 5px #00ffff80 inset,
            0 -3px 2px #00ffffbb inset, 0 2px 0px #00ffff, 0 2px 3px #00ffff,
            0 5px 5px #00ffff90, 0 10px 15px #00ffff60, 0 10px 20px 20px #00ffff40;
    }

    25% {
        box-shadow: 0 -10px 20px 20px #ff00ff40 inset,
            0 -5px 15px 10px #ff00ff50 inset, 0 -2px 5px #ff00ff80 inset,
            0 -3px 2px #ff00ffbb inset, 0 2px 0px #ff00ff, 0 2px 3px #ff00ff,
            0 5px 5px #ff00ff90, 0 10px 15px #ff00ff60, 0 10px 20px 20px #ff00ff40;
    }

    50% {
        box-shadow: 0 -10px 20px 20px #ffff0040 inset,
            0 -5px 15px 10px #ffff0050 inset, 0 -2px 5px #ffff0080 inset,
            0 -3px 2px #ffff00bb inset, 0 2px 0px #ffff00, 0 2px 3px #ffff00,
            0 5px 5px #ffff0090, 0 10px 15px #ffff0060, 0 10px 20px 20px #ffff0040;
    }

    75% {
        box-shadow: 0 -10px 20px 20px #1aa54340 inset,
            0 -5px 15px 10px #1aa54350 inset, 0 -2px 5px #1aa54380 inset,
            0 -3px 2px #1aa543bb inset, 0 2px 0px #1aa543, 0 2px 3px #1aa543,
            0 5px 5px #1aa54390, 0 10px 15px #1aa54360, 0 10px 20px 20px #1aa54340;
    }

    100% {
        box-shadow: 0 -10px 20px 20px #00ffff40 inset,
            0 -5px 15px 10px #00ffff50 inset, 0 -2px 5px #00ffff80 inset,
            0 -3px 2px #00ffffbb inset, 0 2px 0px #00ffff, 0 2px 3px #00ffff,
            0 5px 5px #00ffff90, 0 10px 15px #00ffff60, 0 10px 20px 20px #00ffff40;
    }
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

#start-screen-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#header-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    /* border-radius: 10px; */
    text-align: center;
    padding: 40px 0px;
    width: 100%;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 0px 20px 20px 20px;
    font-weight: bold;
}

h2 {
    color: white;
    font-size: 30px;
    margin: 0px 10px 0px 10px;
    font-weight: normal;
}

#btn-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
}

.btn {
    position: relative;
    width: 250px;
    border: none;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    /* border-radius: 10px; */
    font-size: 24px;
    background-color: #00000000;
    border: solid 2px;
    font-family: loadedFont;
    text-align: center;
    transition: 300ms ease;
}

.btn span {
    display: block;
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 6px;
    height: 6px;
    border: solid;
    border-width: 1px 1px 0 0;
    transition: 300ms ease;
}

.unavailable {
    border-color: #8D8D8D !important;
    color: #8D8D8D !important;
    box-shadow: none !important;
    text-shadow: none !important;
    cursor: not-allowed;
}

.unavailable span {
    display: none;
}

.xr-button-overlay {
    display: none;
}

#continueAsPreviousPlayer {
    display: none;
    position: absolute;
    text-align: center;
    width: 350px;
    left: calc(50% - 175px);
    bottom: 50px;
}

#startPos-0 {
    display: block;
    position: absolute;
    text-align: center;
    width: 350px;
    left: calc(50% - 175px);
    bottom: 50px;
    background-color: '#bdbdbd';
}